.studyMain {
  position: relative;
  margin: auto;
  max-width: 800px;
  padding: 2rem 1rem;
  box-shadow: 0 0 5px 0 #ddd;
}

.studyHeader {
  display: flex;
  padding-left: 1rem;
  align-items: center;
  justify-content: space-between;
  h1 {
    font-size: var(--font-header-l);
  }
  p {
    font-size: var(--font-size-s);
  }
}

//list section
.studySection {
  margin-top: 2rem;
}

.advStyle {
  position: absolute;
  width: 7rem;
  top: 0;
  left: -20%;
  text-align: center;
  z-index: 10;
}

/* 데스크탑 화면 스타일 */
@media (min-width: 1024px) {
  .studyMain {
    border-radius: var(--border-radius-m);
  }
}
