.studyMain {
  position: relative;
  margin: auto;
  max-width: 800px;
  padding: 2rem 1rem;
  box-shadow: 0 0 5px 0 #ddd;
}

.studyHeader {
  display: flex;
  padding-left: 1rem;
  align-items: center;
  justify-content: space-between;
  h1 {
    font-size: var(--font-header-l);
  }
  p {
    font-size: var(--font-size-s);
  }
}

//list section
.studySection {
  margin-top: 2rem;
}

.advStyle {
  width: 100%;
  height: 4rem;
  margin: -1rem auto 2rem;
  border-radius: var(--border-radius-m);
}

/* 데스크탑 화면 스타일 */
@media (min-width: 1024px) {
  .studyMain {
    border-radius: var(--border-radius-m);
  }
  .advStyle {
    position: absolute;
    margin: 0;
    width: 7rem;
    height: 100%;
    top: 0;
    left: -20%;
    text-align: center;
    z-index: 10;
  }
}
