.studyMain {
  margin: auto;
  max-width: 800px;
  padding: 2rem 1rem;
  box-shadow: 0 0 5px 0 #ddd;
  border-radius: var(--border-radius-m);
}

.studyHeader {
  display: flex;
  padding-left: 1rem;
  align-items: center;
  justify-content: space-between;
  h1 {
    font-size: var(--font-header-l);
  }
  p {
    font-size: var(--font-size-s);
  }
}

//list section
.studySection {
  margin-top: 2rem;
}
