.main {
  margin: auto;
  section {
    background-color: yellow;
  }
}

.answer {
  input {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: var(--font-size-m);
    border: none;
    border-radius: var(--border-radius-s);
    outline: none;
  }
}
