.main {
  margin: 1rem;
  section {
    padding: 0.5rem;
  }
}

.searchbox {
  padding: 0.5rem;
  position: relative;
  span {
    position: absolute;
    top: 0.9rem;
    left: 1rem;
    font-weight: bolder;
    color: rgb(157, 157, 254);
  }
  .searchClose {
    left: auto; //위에서 left 준 것 풀기
    right: 1rem;
    font-weight: 500;
    color: rgba(128, 128, 128, 0.398);
    cursor: pointer;
    &:hover {
      color: rgba(128, 128, 128, 0.839);
      font-weight: bolder;
    }
  }
  input {
    width: 100%;
    padding: 0.5rem 2rem;
    border: 1.5px solid rgb(222, 193, 255);
    border-radius: var(--border-radius-l);
    &:focus {
      outline: 1px solid rgb(222, 193, 255);
    }
  }
  ul {
    background-color: #fff;
    position: absolute;
    border-radius: var(--border-radius-l);
    width: calc(100% - 1.3rem);
    top: 50px;
    left: 10px;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 5px rgba(216, 216, 216, 0.898);
    z-index: 2;
  }
  li {
    margin: 5px auto;
    border-radius: var(--border-radius-s);
    padding: 0 0.5rem;
  }
  li:hover,
  .searchSelected {
    background-color: rgba(231, 202, 255, 0.56);
    cursor: pointer;
  }
}

//채용정보리스트
//채용정보사이트
.jobListSection,
.jobOpeningWebSite {
  ul {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: flex-start;
    // gap: 10px;
  }
  .imgBox {
    width: 100%;
    overflow: hidden;
  }
  li {
    max-width: calc(50% - 10px); // gap만큼 뺌 / gap말고 margin으로 변경
    margin: 5px;
    flex: 1 1 40%;
    padding: 0.5rem;
    box-shadow: 0 0 5px rgba(216, 216, 216, 0.898);
    cursor: pointer;
    img {
      width: 100%;
      height: 100px;
      object-fit: cover;
      overflow: clip;
      transition: all 0.3s;
      border-radius: var(--border-radius-s);
      z-index: 1;
    }
    &:hover img {
      transform: scale(1.2);
    }
  }
}

.jobOpeningLogo {
  display: flex;
  overflow: hidden;
  .logoContainer1,
  .logoContainer2 {
    display: flex;
    background-color: rgb(44, 34, 74);
    animation: scrollAnimation 5s linear infinite;
  }
  .imgBox {
    width: 150px;
    height: 100px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(188, 167, 250);
    border-radius: var(--border-radius-l);
    padding: 20px;
  }
  img {
    width: 100%;
    object-fit: contain;
  }
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* 태블릿 화면 스타일 */
@media (min-width: 768px) {
  .main {
    margin: auto 4rem;
  }

  .searchbox {
    max-width: 40rem;
    margin: auto;
    span {
      top: 0.8rem;
    }
  }
}

/* 데스크탑 화면 스타일 */
@media (min-width: 1024px) {
  .jobListSection {
    li {
      max-width: calc(25% - 10px);
      flex: 1 1 20%;
    }
  }
}
