.container {
  max-width: 800px;
  header {
    margin-bottom: 1rem;
    text-align: center;
    h1 {
      text-align: center;
      font-size: var(--font-header-l);
    }
  }
}

//글 제목,내용
.writeInput {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  input,
  textarea {
    padding: 10px;
    border: 1px solid rgb(240, 225, 249);
    border-radius: var(--border-radius-s);
    font-family: inherit;
    resize: none; /*크키조정못하도록*/
    &:focus {
      outline: 1px solid rgb(229, 199, 246);
    }
  }
  textarea {
    height: 40vh;
  }
  button {
    padding: 1rem;
    border: none;
    border-radius: var(--border-radius-s);
    background-color: rgb(243, 237, 255);
    cursor: pointer;
    &:hover {
      background-color: rgb(231, 216, 255);
    }
  }
}

//선택박스
.writeCheck {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: var(--border-radius-s);
  // background-color: rgb(248, 246, 255);
  border: 1px solid rgb(227, 225, 254);
  div {
    position: relative;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    border-radius: var(--border-radius-s);
    flex-grow: 1;
    flex-basis: 100px;
    text-align: center;
    background-color: #f8f3ff;
    input {
      width: 140px;
      margin: 0 5px;
      padding: 0 0.5rem;
      font-size: var(--font-size-s);
      &[type='checkbox'] {
        position: absolute;
        visibility: hidden;
      }
    }
    label {
      font-size: var(--font-size-s);
      margin: 0 2px;
      padding: 3px 5px;
      background-color: #fff;
      border-radius: var(--border-radius-s);
      box-shadow: 0 0 5px rgba(216, 216, 216, 0.898);
    }
    .hello {
      font-weight: bolder;
      color: rgb(50, 39, 255);
      border: 1.5px solid rgb(50, 39, 255);
      background-color: rgba(166, 161, 255, 0.449);
      box-shadow: none;
    }
    .bye {
      color: rgba(128, 128, 128, 0.548);
      border: 1.5px solid rgba(219, 219, 219, 0.968);
      background-color: rgba(226, 226, 226, 0.485);
      box-shadow: none;
    }
  }
  span {
    position: absolute;
    top: -0.4rem;
    left: 1rem;
    padding: 0 0.5rem;
    font-size: var(--font-size-s);
    background-color: rgb(230, 224, 253);
    border-radius: var(--border-radius-l);
  }
}

// 테블릿
@media (min-width: 768px) {
  //선택박스
  .writeCheck {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    border-radius: var(--border-radius-s);
    background-color: rgb(248, 246, 255);
    div {
      position: relative;
      padding: 1rem 0.5rem 0.5rem 0.5rem;
      border-radius: var(--border-radius-s);
      flex-grow: 1;
      text-align: center;
      background-color: #fff;
      input {
        margin: 0 5px;
        &[type='checkbox'] {
          position: absolute;
          visibility: hidden;
        }
      }
      label {
        font-size: var(--font-size-m);
        margin: 0 2px;
        padding: 3px 10px;
        background-color: #fff;
        border-radius: var(--border-radius-s);
        box-shadow: 0 0 5px rgba(216, 216, 216, 0.898);
      }
      .hello {
        font-weight: bolder;
        color: rgb(50, 39, 255);
        border: 1.5px solid rgb(50, 39, 255);
        background-color: rgba(166, 161, 255, 0.449);
        box-shadow: none;
      }
      .bye {
        color: rgba(128, 128, 128, 0.548);
        border: 1.5px solid rgba(219, 219, 219, 0.968);
        background-color: rgba(226, 226, 226, 0.485);
        box-shadow: none;
      }
    }
    span {
      position: absolute;
      top: -0.5rem;
      left: 1rem;
      padding: 0 0.5rem;
      font-size: var(--font-size-s);
      background-color: rgb(230, 224, 253);
      border-radius: var(--border-radius-l);
    }
  }
}
