.main {
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  background-color: rgb(244, 240, 255);
  height: 85vh;
  section {
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-radius: var(--border-radius-s);
  }
  .profile {
    height: 9rem;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    div {
      width: 120px;
      height: 120px;
      margin: auto;
      position: absolute;
      top: -3rem;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    h3 {
      margin-top: 3.5rem;
      font-size: var(--font-header-l);
    }
    span {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: rgba(244, 240, 255, 0.504);
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      p {
        text-align: center;
        line-height: 1.8rem;
        font-size: 20px;
        color: rgb(195, 174, 255);
      }
      &:hover {
        background-color: rgb(217, 203, 255);
        p {
          color: gray;
        }
      }
    }
  }
  .myActive {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    text-align: center;
  }
  .myQuiz {
    margin-bottom: 2rem;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      padding: 1rem;
      border-bottom: 1px solid rgba(128, 128, 128, 0.198);
      &:nth-last-of-type(1) {
        border-bottom: none;
      }
      span {
        flex: 1;
        font-size: var(--font-size-s);
        text-align: end;
      }
    }
  }
}
