.main {
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  background-color: rgb(244, 240, 255);
  min-height: calc(100vh - 5rem);
  section {
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-radius: var(--border-radius-s);
  }
  .profile {
    height: 12rem;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: relative;
    div {
      width: 120px;
      height: 120px;
      margin: auto;
      position: absolute;
      top: -3rem;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    h3 {
      margin-top: 3.5rem;
      font-size: var(--font-header-l);
    }
    span {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: rgba(244, 240, 255, 0.504);
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      p {
        text-align: center;
        line-height: 1.8rem;
        font-size: 20px;
        color: rgb(195, 174, 255);
      }
      &:hover {
        background-color: rgb(217, 203, 255);
        p {
          color: gray;
        }
      }
    }
    //logout btn
    button {
      margin: 1rem;
      background-color: rgba(244, 240, 255, 0.504);
      &:hover {
        background-color: rgba(116, 116, 116, 0.504);
      }
    }
  }
  .myActive {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    text-align: center;
  }
  .myQuiz {
    margin-bottom: 2rem;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      padding: 1rem;
      border-bottom: 1px solid rgba(128, 128, 128, 0.198);
      &:nth-last-of-type(1) {
        border-bottom: none;
      }
      span {
        flex: 1;
        font-size: var(--font-size-s);
        text-align: end;
      }
    }
  }
  .communicationBox {
    margin: -2rem auto 0;
    padding: 0.5rem;
    min-height: 15rem;
    max-width: 35rem;
    background: inherit;
    a {
      background-color: #fff;
      p {
        font-weight: normal;
      }
    }
  }
}

// 로그인 이전
.loginPrompt {
  min-height: calc(100vh - 5rem);
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-s);
  background-color: rgb(244, 240, 255);
  div {
    width: 100%;
    padding: 10rem 0;
    text-align: center;
    border-radius: var(--border-radius-s);
    background-color: #fff;
    p {
      font-size: var(--font-size-xl);
      margin-bottom: 2rem;
    }
    button,
    a {
      padding: 1rem 2rem;
      background-color: rgb(217, 203, 255);
      font-size: var(--font-size-m);
      color: #fff;
      &:hover {
        background-color: rgb(195, 174, 255);
      }
    }
    a {
      margin-left: 1rem;
      background-color: rgb(255, 203, 203);
    }
  }
}

/* 테블릿 화면 스타일 */
@media (min-width: 768px) {
}

/* 데스크탑 화면 스타일 */
// flex에서 grid로 변경
@media (min-width: 1024px) {
  .main {
    height: 80vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      'header main1'
      'header main2'
      'header main3';
    gap: 1rem;
    .profile {
      grid-area: header;
      height: 100%;
      margin: 0; //초기화
      justify-content: center; // display:flex; 적용되어있음
      div {
        position: relative;
        top: auto;
        margin: 0 0 1rem 0; //초기화
      }
      h3 {
        margin-top: 0; //초기화
      }
    }
    .myActive {
      grid-area: main1;
      padding: 2rem;
      align-items: center;
      p {
        font-size: var(--font-size-l);
      }
      span {
        font-size: 30px;
      }
    }
    .myQuiz {
      grid-area: main2;
      margin-bottom: 0; //초기화
      div {
        p,
        span {
          font-size: var(--font-size-l);
        }
      }
    }
    section {
      margin: 0; //초기화
      padding: 2rem;
    }
    .communicationBox {
      grid-area: main3;
      margin: 0;
      max-width: none;
      height: 12rem;
      padding: 2rem;
      a {
        margin: -50% 1rem 0;
      }
    }
  }

  .loginPrompt {
    height: 80vh;
  }
}
