.container {
  padding: 1rem;
  position: relative;
  header {
    h2 {
      padding: 1rem;
      font-size: 1.5rem;
      color: rgb(172, 145, 254);
    }
  }
  .notice {
    ul {
      border: 2px solid rgb(205, 189, 255);
      border-radius: var(--border-radius-s);
      list-style: none;
      padding: 0 10px;
    }
    li {
      padding: 10px;
      border-bottom: 1px solid #ddd;
      cursor: pointer;
      &:last-child {
        border-bottom: none;
      }
      p,
      span {
        display: block;
        padding: 1rem;
        font-size: 14px;
        border-radius: var(--border-radius-m);
      }
      .content {
        margin: 5px;
        border: 1px solid rgb(240, 234, 255);
        border-radius: var(--border-radius-m);
        transition: opacity 1s;
      }
      .title {
        background: rgb(239, 234, 255);
      }
      &:hover {
        p {
          background: rgb(246, 243, 255);
        }
      }
    }
  }
}
.none {
  opacity: 0;
  height: 0;
}

// 테블릿 화면 스타일
@media (min-width: 768px) {
}

// pc 화면 스타일
@media (min-width: 1080px) {
}
