// Carousel
.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  // box-shadow: 0 0 10px 0 black;
  // overflow: hidden;
}

.content {
  width: 100%;
  max-width: 1100px;
  height: 100%;
  margin: auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.imageContainer {
  width: 500%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  box-shadow: 0 0 10px 0 pink;
  .box {
    position: relative;
    width: 100%;
    align-self: center;
    button {
      position: absolute;
      top: 60%;
      transform: translate(-50%, -50%);
      padding: 10px 1rem;
      background-color: inherit;
      border: 1px solid #ffffff;
      opacity: 0;
      &:hover {
        background-color: #404040;
      }
    }
  }
  h2 {
    position: absolute;
    width: 70%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #fff;
  }
  a {
    display: inline-block;
    width: 22rem;
    margin-top: 4rem;
    img {
      width: 100%;
    }
  }
}

.background {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
}

.prevBtn,
.nextBtn {
  opacity: 0; //mobile
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  background-color: inherit;
  border: none;
  border-radius: var(--border-radius-m);
  color: #ffffff84;
  padding: 10px;
  cursor: pointer;
}

.prevBtn {
  left: 10px;
}

.nextBtn {
  right: 10px;
}

//section_card
.card {
  width: calc(50% - 0.5rem);
  height: 200px;
  // box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-m);
  a {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    background: #181818a4;
    border-radius: var(--border-radius-m);
  }
  div {
    flex: 1;
    h2 {
      font-size: 1rem;
      text-align: center;
      padding-top: 50%;
    }
    p {
      display: none;
    }
  }
  // img {
  //   width: 70%;
  //   align-self: end;
  // }
  &:active {
    // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 4px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
  }
}

// contact section
.contactContainer {
  display: flex;
  margin: 2rem auto 7rem;
  padding: 1rem;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  a {
    padding: 1rem;
    // border: 1rem solid rgb(255, 165, 157);
    border-radius: 50%;
    background-color: rgb(237, 237, 237);
    text-align: center;
    position: relative;
    &:hover img {
      transform: scale(1.1);
    }
    img {
      transition: transform 0.3s;
      width: 100%;
    }
    p {
      position: absolute;
      top: 110%;
      left: 50%;
      transform: translateX(-50%);
      padding: 0;
      // font-size: 1.5rem;
      font-size: 14px;
      font-weight: 900;
      width: 100%;
    }
  }
}

//section_promotional
.promotionalSection {
  display: flex;
  margin-top: 2rem;
  height: 100%;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  object-fit: cover;
  img {
    width: 15rem;
  }
  div {
    h2 {
      color: rgb(161, 161, 161);
      margin: 0.5rem auto;
    }
    h3 {
      margin: 0.7rem auto;
    }
    p {
      color: gray;
      font-size: var(--font-size-m);
    }
  }
  opacity: 1;
  transition: opacity 2s, transform 2s;
}

// scrollEvent
.hidden {
  height: 100%;
  margin-top: 2rem;
  opacity: 0;
  transform: translateY(5rem);
  img {
    width: 15rem;
  }
}

// Features Section
.FeaturesContainer {
  display: flex;
  height: 100%;
  padding: 5rem 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  h2 {
    font-size: 2rem;
  }
  div {
    flex-direction: column;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #d6d6d6;
    p {
      font-size: var(--font-size-m);
    }
    img {
      width: 70%;
    }
  }
}

//footer
.container {
  width: 100%;
  height: 100%;
}

// Footer
.footer {
  display: flex;
  max-height: 6rem;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  .content {
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    ul {
      display: flex;
      justify-content: center;
      li {
        &:not(:last-child) {
          &::after {
            content: '·';
            margin: 5px;
          }
        }
        &:hover {
          font-weight: 900;
        }
      }
    }
    p {
      display: none;
    }
  }
  .logo {
    display: flex;
    gap: 10px;
    align-items: center;
    img {
      width: 1.5rem;
      margin-top: 2px;
    }
  }
}

// 테블릿 화면 스타일
@media (min-width: 768px) {
  .prevBtn,
  .nextBtn {
    opacity: 1;
  }
  .imageContainer {
    .box:nth-child(odd) {
      flex-direction: row-reverse;
      button {
        left: 70%;
        opacity: 1;
      }
    }
    .box {
      display: flex;
      justify-content: space-around;
      align-items: center;
      button {
        left: 30%;
        opacity: 1;
      }
      a {
        width: 30rem;
        margin-top: 6rem;
      }
      img {
        margin: 0;
      }
      h2 {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
      }
    }
  }
  //card
  .card {
    a {
      flex-direction: row;
      justify-content: space-between;
      background: #18181844;
    }
    div {
      padding: 2rem;
      background: #181818b6;
      border-radius: var(--border-radius-m);
      h2 {
        padding: 0;
        font-size: 1.3rem;
        margin-bottom: 1rem;
        text-align: left;
      }
      p {
        display: block;
        // border: 1px solid rgb(197, 197, 197);
        border-radius: var(--border-radius-m);
        margin-top: 0.5rem;
        padding: 5px 0.5rem;
        // background-color: #ffffff;
        &::before {
          content: 'HOT';
          width: 1rem;
          font-size: 0.6rem;
          padding: 3px 0.3rem;
          margin-right: 5px;
          font-weight: 900;
          color: rgb(29, 25, 25);
          border-radius: var(--border-radius-l);
          background-color: rgb(255, 131, 131);
        }
      }
    }
    &:hover {
      transform: none;
      a {
        background-color: #ffffff82;
      }
    }
    // img {
    //   width: 10rem;
    //   align-self: auto;
    // }
  }
  //section_promotional
  .promotionalSection {
    height: 100%;
    padding: 0 5rem;
    gap: 10rem;
    flex-direction: row;
    align-items: center;
    text-align: left;
    img {
      width: 20rem;
    }
    div {
      flex: 1;
    }
  }
  .promotionalSectionEven {
    text-align: right;
    img {
      order: 2;
    }
  }
}

/* 데스크탑 화면 스타일 */
@media (min-width: 1024px) {
  // Features Section
  .FeaturesContainer {
    padding: 8rem 0;
    h2 {
      font-size: 5rem;
    }
    div {
      width: 100%;
      flex-direction: row;
      gap: 2rem;
      img {
        width: 20rem;
      }
      p {
        width: 100%;
        text-align: left;
        font-size: 1.2rem;
        &:nth-child(1) {
          text-align: right;
        }
      }
    }
  }

  //scrollEvent / promotional
  .hidden {
    transform: translateY(10rem);
  }

  //contact section
  .contactContainer {
    display: flex;
    margin: 5rem auto 10rem;
    height: 20rem;
    justify-content: space-around;
    align-items: center;
    a {
      display: block;
      width: 100%;
      // padding: 5rem;
      // border: 1rem solid rgb(255, 165, 157);
      // border-radius: 50%;
      background: #fff;
      text-align: center;
      img {
        width: 100%;
      }
      p {
        top: 100%;
        padding: 0;
        font-size: 1.2rem;
        font-weight: 900;
      }
    }
  }

  // Footer
  .footer {
    width: 70%;
    max-height: 10rem;
    margin: auto;
    flex-direction: row-reverse;
    gap: 2rem;
    padding: 3rem;
    .content {
      flex: 1;
      padding-top: 0.5rem;
      text-align: left;
      ul {
        display: flex;
        margin-bottom: 10px;
        justify-content: flex-start;
      }
      p {
        display: block;
        font-size: 14px;
        font-weight: 900;
        color: #ababab;
      }
    }
    .logo {
      flex: 1;
      display: flex;
      margin-left: -3rem;
      padding: 0.5rem 2rem;
      gap: 10px;
      justify-content: flex-end;
      align-items: center;
      border-right: 1px solid #7a7a7a;
    }
  }
}
