// Carousel
.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  // box-shadow: 0 0 10px 0 black;
  // overflow: hidden;
}

.content {
  width: 100%;
  max-width: 1100px;
  height: 100%;
  margin: auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.imageContainer {
  width: 300%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  box-shadow: 0 0 10px 0 pink;
  a {
    position: relative;
    width: 100%;
  }
  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: #fff;
  }
}

.background {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(2px); /* Adjust the blur intensity as needed */
}

.prevBtn,
.nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  background-color: inherit;
  border: none;
  border-radius: var(--border-radius-m);
  color: #ffffff84;
  padding: 10px;
  cursor: pointer;
}

.prevBtn {
  left: 10px;
}

.nextBtn {
  right: 10px;
}
