//글작성 페이지 헤더
.writeHeader {
  padding: 1rem;
  text-align: center;
  position: relative;
  h1 {
    text-align: center;
    font-size: var(--font-header-l);
  }
  .backBtn {
    padding: 0.5rem;
    border: none;
    border-radius: var(--border-radius-s);
    background-color: rgb(243, 237, 255);
    cursor: pointer;
    position: absolute;
    left: 0;
    &:hover {
      background-color: rgb(163, 122, 253);
      color: #fff;
    }
  }
}

//Advertisement
.article {
  aside {
    padding: 0 0 1rem 0;
    box-shadow: 0 0 5px 2px #ddd;
    border-radius: var(--border-radius-l);
  }
  h2 {
    font-size: 1rem;
  }
  img {
    width: 100%;
    border-radius: var(--border-radius-m);
  }
}
