.studyMain {
  margin: auto;
  max-width: 800px;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-s);
}

.studyHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    font-size: var(--font-header-l);
  }
  p {
    font-size: var(--font-size-s);
  }
}

//list section
.studySection {
  margin-top: 2rem;
}

.studyList {
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(216, 216, 216, 0.898);
  border-radius: var(--border-radius-m);
  position: relative;
  background-color: #fff;
  &:hover {
    background-color: rgba(231, 231, 231, 0.378);
  }
  .date {
    position: absolute;
    right: 13px;
    top: 15px;
    font-size: var(--font-size-ss);
    color: var(--color-content-s);
  }
  // .statusDD {
  //   background-color: rgba(167, 167, 167, 0.463);
  //   position: absolute;
  //   top: 0;
  //   left: 0px;
  //   width: 10px;
  //   height: 100%;
  //   border-radius: 5px 0px 0px 5px;
  // }
  // .statusRR {
  //   background-color: rgba(131, 210, 255, 0.398);
  //   position: absolute;
  //   top: 0;
  //   left: 0px;
  //   width: 10px;
  //   height: 100%;
  //   border-radius: 5px 0px 0px 5px;
  // }
  %badge-common-style {
    font-size: var(--font-size-ss);
    font-weight: 900;
    color: white;
    padding: 2px 5px;
    border-radius: var(--border-radius-m);
  }
  .statusR {
    @extend %badge-common-style;
    background: rgb(131, 210, 255);
  }
  .statusD {
    @extend %badge-common-style;
    background: rgb(182, 182, 182);
  }
  // .info1 {
  //   @extend %badge-common-style;
  //   background: rgba(213, 204, 253, 0.49);
  //   color: rgb(123, 94, 255);
  // }
  // .info2 {
  //   @extend %badge-common-style;
  //   background: rgba(161, 254, 178, 0.546);
  //   color: rgb(20, 97, 34);
  // }
  // .info3 {
  //   @extend %badge-common-style;
  //   background: rgba(210, 254, 106, 0.529);
  //   color: rgb(93, 97, 20);
  // }
  // .info4 {
  //   @extend %badge-common-style;
  //   background: rgba(254, 161, 198, 0.494);
  //   color: rgb(97, 20, 78);
  // }
  h2 {
    font-size: var(--font-header-m);
    margin-top: 10px;
    margin-bottom: 0.7rem;
  }
  p {
    font-size: var(--font-size-m);
    color: var(--color-content-m);
  }
  .postInfo {
    font-size: var(--font-size-s);
    color: var(--color-content-s);
    margin-top: 0.7rem;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    & > span:last-of-type {
      flex: 1;
      text-align: right;
    }
  }
}

/* 태블릿 화면 스타일 */
@media (min-width: 768px) {
}

/* 데스크탑 화면 스타일 */
@media (min-width: 1024px) {
  .studyList {
    padding: 1rem 2rem;
    .status {
      position: absolute;
      top: 22px;
      padding: 4px 7px;
    }
    .date {
      top: 20px;
      right: 25px;
    }
  }

  .studyHeader {
    a > span {
      padding: 0.3rem 0.7rem;
    }
  }
}
