//기본셋팅
:root {
  --border-radius: 10px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

//초기화
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

//main
main {
  box-shadow: 0 0 10px gray;
}

.headerMain {
  width: 100%;
  margin: auto;
}

.logoMyContainer {
  height: 5rem;
  display: flex;
  padding: 0 5rem;
  justify-content: space-between;
  align-items: center;
}

.navContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 5rem;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

/* 태블릿 화면 스타일 */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
  .headerMain {
    max-width: 1280px;
    margin: auto;
  }

  .logoMyContainer {
    align-items: end;
  }

  .navContainer {
    position: relative;
    display: flex;
    height: 10rem;
    list-style: none;
    justify-content: space-around;
    align-items: center;
  }
}

/* 데스크탑 화면 스타일 */
@media (min-width: 1024px) {
  body {
  }
}
