//기본셋팅
:root {
  --border-radius: 10px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --max-width: 1080px;
  --box-shadow: 0 0 10px gray;
  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;
  --color-content-m: rgb(136, 136, 136);
  --color-content-s: rgb(185, 185, 185);
  --font-header-l: 20px;
  --font-header-m: 15px;
  --font-header-s: 13px;
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 12px;
  --font-size-ss: 10px;
}

/* 데스크탑 화면 스타일 */
@media (min-width: 768px) {
  :root {
  }
}

/* 데스크탑 화면 스타일 */
@media (min-width: 1024px) {
  :root {
    --font-header-l: 25px;
    --font-header-m: 17px;
    --font-header-s: 15px;
    --font-size-l: 16px;
    --font-size-m: 14px;
    --font-size-s: 13px;
    --font-size-ss: 12px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

//초기화
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

//셋팅
h1 {
  font-size: var(--font-header-l);
}

h2 {
  font-size: var(--font-header-m);
}

p {
  font-size: var(--font-size-s);
}

.container {
  max-width: var(--max-width);
  min-width: 280px;
  margin: 0 auto 80px; //모바일버전 nav부분 / pc버전 밑에서
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

//컴포넌트
//btn
.btn-s,
.btn-m {
  margin-right: 5px;
  padding: 0.3rem 0.5rem;
  font-size: var(--font-size-s);
  background-color: rgb(175, 164, 255);
  color: #fff;
  border: none;
  border-radius: var(--border-radius-m);
  cursor: pointer;
  &:hover {
    background-color: rgb(139, 124, 254);
    font-weight: bold;
  }
}

//input,textarea
input,
textarea {
  border: 1px solid rgb(240, 225, 249);
  border-radius: var(--border-radius-s);
  font-family: inherit;
  resize: none; /*크키조정못하도록*/
  &:focus {
    outline: 1px solid rgb(229, 199, 246);
  }
}

//main
main {
  box-shadow: 0 0 10px gray;
}

.headerMain {
  width: 100%;
  margin: auto;
}

.myContainer {
  height: 3rem;
  display: flex;
  padding: 0 5rem;
  justify-content: space-between;
  align-items: center;
}

.navContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  z-index: 10;
}

/* 태블릿 화면 스타일 */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
  .headerMain {
    max-width: var(--max-width);
    height: 13rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .myContainer {
    align-items: end;
  }

  .navContainer {
    position: relative;
    display: flex;
    height: 7rem;
    list-style: none;
    justify-content: space-around;
    align-items: center;
  }
}

/* 데스크탑 화면 스타일 */
@media (min-width: 1024px) {
  .container {
    margin: 0 auto 150px;
  }
  .headerMain {
    margin: auto;
  }
}
