//home
.section {
  max-width: var(--max-width);
  margin: auto;
  height: 400px;
  box-shadow: 0 0 10px pink;
}

.carousel {
  width: 100%;
  height: 400px;
  box-shadow: 0 0 10px green;
  text-align: center;
}

.footer {
  height: 10rem;
  box-shadow: 0 0 10px rgb(56, 56, 57);
}
