//home
.section {
  max-width: var(--max-width);
  margin: auto;
  height: 400px;
  // box-shadow: 0 0 10px pink;
}

.carousel {
  width: 100%;
  height: 400px;
  text-align: center;
}

.sectionFull {
  width: 100%;
  height: 600px;
  margin: 7rem auto;
  background: linear-gradient(to bottom, rgb(93, 61, 255), rgb(150, 121, 255));
}

.cardContainer {
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem auto;
  padding: 1rem;
  gap: 1rem;
}

.footer {
  height: 10rem;
}

// .jobSection {
// }

// 테블릿 화면 스타일
@media (min-width: 768px) {
  .cardContainer {
    margin: 5rem auto;
    gap: 0;
    padding: 10px 0;
  }
}
