//home
.section {
  max-width: var(--max-width);
  margin: auto;
  height: 400px;
  // box-shadow: 0 0 10px pink;
}

.carousel {
  width: 100%;
  height: 400px;
  text-align: center;
}

.test {
  display: flex;
  margin: 3rem auto 7rem;
  padding: 1.2rem;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  div {
    padding: 1rem;
    // border: 1rem solid rgb(255, 165, 157);
    border-radius: 50%;
    background-color: rgb(237, 237, 237);
    text-align: center;
    position: relative;
    img {
      width: 100%;
    }
    p {
      position: absolute;
      top: 110%;
      left: 50%;
      transform: translateX(-50%);
      padding: 0;
      // font-size: 1.5rem;
      font-size: 14px;
      font-weight: 900;
    }
  }
}

.sectionFull {
  width: 100%;
  height: 800px;
  margin: 7rem auto;
  background: linear-gradient(to bottom, rgb(93, 61, 255), rgb(150, 121, 255));
}

.cardContainer {
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem auto;
  padding: 1rem;
  gap: 1rem;
}

.footer {
  height: 10rem;
}

// .jobSection {
// }

// 테블릿 화면 스타일
@media (min-width: 768px) {
  .sectionFull {
    height: 1000px;
  }
  .cardContainer {
    margin: 5rem auto;
    gap: 0;
    padding: 10px 0;
  }

  .test {
    display: flex;
    margin: 5rem auto 10rem;
    height: 20rem;
    justify-content: space-around;
    align-items: center;
    div {
      width: 100%;
      // padding: 5rem;
      // border: 1rem solid rgb(255, 165, 157);
      // border-radius: 50%;
      background: #fff;
      text-align: center;
      img {
        width: 100%;
      }
      p {
        top: 100%;
        padding: 0;
        font-size: 1.2rem;
        font-weight: 900;
      }
    }
  }
}
