//home
.section {
  max-width: var(--max-width);
  margin: auto;
  height: 400px;
  box-shadow: 0 0 10px pink;
}

.carousel {
  width: 100%;
  height: 400px;
  box-shadow: 0 0 10px green;
  text-align: center;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 5rem auto;
}

.card {
  width: 100%;
  height: 200px;

  background-color: pink;
  border-radius: var(--border-radius-s);
}

.footer {
  height: 10rem;
  box-shadow: 0 0 10px rgb(56, 56, 57);
}

.jobSection {
}
