/* modal */
.modalContainerFirst {
  position: relative;
  z-index: 98;
}

.modalContainer {
  position: relative;
  z-index: 97;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 200px;
  height: 100px;
  padding-top: 2.3rem;
  border-radius: 1rem;
  background-color: white;
  gap: 10px;
  button {
    padding: 3px 0.5rem;
    background-color: rgb(243, 237, 255);
    border: none;
    border-radius: var(--border-radius-s);
    cursor: pointer;
    &:hover {
      background-color: rgb(211, 188, 255);
    }
  }
  p {
    position: absolute;
    top: 30px;
    color: rgb(41, 41, 41);
    cursor: default;
  }
}

.modalContent .closeBtn {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
