/* modal */
.modalContainerFirst {
  position: relative;
  z-index: 98;
}

.modalContainer {
  position: relative;
  z-index: 97;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 80%;
  height: 220px;
  padding-top: 3rem;
  border-radius: 1rem;
  background-color: white;
  gap: 10px;
  p {
    text-align: center;
    padding: 0 2rem;
    font-size: var(--font-size-l);
    color: rgb(41, 41, 41);
    cursor: default;
  }
  div {
    button {
      margin: 0 0.3rem;
      padding: 12px 1.5rem;
      background-color: rgb(243, 237, 255);
      border: none;
      border-radius: var(--border-radius-m);
      cursor: pointer;
      &:hover {
        background-color: rgb(211, 188, 255);
      }
    }
  }
  span {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.3rem 1rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: red;
    border-radius: 50%;
    transition: transform 0.5;
  }
}

.modalContent .closeBtn {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

/* 태블릿 화면 스타일 */
@media (min-width: 768px) {
  .modalContent {
    width: 500px;
  }
}
