.main {
  margin: 0 auto;
  border: 10px solid rgb(240, 225, 249);
  border-radius: var(--border-radius-s);
  position: relative;
  section {
    // background-color: yellow;
  }
  height: calc(100vh - 8rem);
}

.quizInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .time {
    span {
      margin: 2px;
    }
  }
  .check {
    input {
      margin-right: 5px;
    }
    label {
      font-size: var(--font-size-m);
      cursor: pointer;
    }
  }
}

.quiz {
  text-align: center;
  margin-top: 2rem;
  .questionBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;
    margin-bottom: 2rem;
    padding: 0rem 2rem;
    p {
      font-size: 1.2rem;
      font-weight: bolder;
    }
  }
  .answerEmpty {
    display: inline-block;
    width: 85%;
    min-height: 1.7rem;
    max-height: 12rem;
    margin-bottom: 2rem;
    padding: 10px;
    text-align: start;
    border-radius: var(--border-radius-s);
    font-size: var(--font-size-m);
    overflow: hidden;
    &::before {
      content: 'A.  ';
      font-weight: bolder;
    }
  }
  .answer {
    background-color: rgb(240, 225, 249);
    color: black;
    // white-space: nowrap;
    overflow-y: scroll;
    text-overflow: ellipsis;
  }

  .answerBox {
    position: absolute;
    bottom: 2rem;
    width: 100%;
  }

  input {
    width: 90%;
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    font-size: var(--font-size-m);
    border: 2px solid rgb(240, 225, 249);
    border-radius: var(--border-radius-s);
    outline: none;
    &:disabled {
      background-color: rgb(246, 246, 246);
      font-size: var(--font-size-s);
    }
  }
  .nextBtn {
    width: 150px;
    margin: 2rem;
    padding: 1rem 2rem;
    background-color: rgb(240, 225, 249);
    &:hover {
      font-weight: 500;
      background-color: rgb(230, 200, 247);
    }
  }
  .nextBtnActive {
    font-weight: 500;
    background-color: rgb(230, 200, 247);
  }
}

//quizSetting Page
.quizSetting {
  text-align: center;
  padding-top: 2rem;
  // 문제풀기 btn
  .quizBtn {
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: var(--font-size-xl);
  }
  // 각 div
  .quizSettingNum {
    // background-color: antiquewhite;
    position: relative;
    width: 90%;
    margin: 2rem auto;
    padding: 3rem 2rem 2rem;
    border: 1px solid rgb(204, 204, 204);
    border-radius: var(--border-radius-s);
    label,
    span {
      display: inline-block;
      font-size: var(--font-size-m);
      padding: 0.5rem;
    }
    select {
      padding: 10px 1rem;
      border: 1px solid rgb(204, 204, 204);
      border-radius: var(--border-radius-m);
      cursor: pointer;
      option {
        padding: 3rem 0;
        border-radius: 1rem;
        color: #9025fb;
      }
    }
    // 각 name
    .settingName {
      width: 5rem;
      border-radius: var(--border-radius-m);
      color: #9025fb;
      font-weight: 900;
      background-color: #f1e3ff;
      position: absolute;
      top: -1rem;
      left: 50%;
      transform: translateX(-50%);
    }
    // +,- button
    button {
      margin: 0rem 1rem;
      padding: 1rem 1.5rem;
      border: none;
      border-radius: var(--border-radius-m);
      font-size: 1rem;
      cursor: pointer;
      &:hover {
        background-color: rgb(199, 199, 199);
      }
    }
  }
}

/* 태블릿 화면 스타일 */
@media (min-width: 768px) {
  .quizInfo {
    padding: 2rem;
  }
  .quiz {
    .answerBox {
      bottom: 2rem;
    }
  }
}

/* 데스크탑 화면 스타일 */
@media (min-width: 1024px) {
  .main {
    width: 70%;
    margin: auto;
    height: 43rem;
  }
  .quizSettingNum {
    margin: 2rem auto;
  }
  .quizInfo {
    margin: 1rem 0rem;
    padding: 0rem 2rem;
  }
  .quiz {
    .answerEmpty {
      min-height: 2rem;
      max-height: 8rem;
    }
  }
}
