.main {
  margin: 0 auto;
  border: 10px solid rgb(240, 225, 249);
  border-radius: var(--border-radius-s);
  section {
    // background-color: yellow;
  }
  height: calc(100vh - 8rem);
}

.quizInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .time {
    span {
      margin: 2px;
    }
  }
  .check {
    input {
      margin-right: 5px;
    }
    label {
      font-size: var(--font-size-m);
      cursor: pointer;
    }
  }
}

.quiz {
  text-align: center;
  p {
    font-size: var(--font-size-xl);
    font-weight: bolder;
    padding: 4rem 0rem;
  }
  .answerEmpty {
    display: inline-block;
    width: 90%;
    min-height: 1.7rem;
    margin-bottom: 2rem;
    padding: 3px 10px;
    text-align: start;
    border-radius: var(--border-radius-s);
    font-size: var(--font-size-m);
    &::before {
      content: 'A.  ';
      font-weight: bolder;
    }
  }
  .answer {
    background-color: rgb(240, 225, 249);
    color: black;
  }

  input {
    width: 90%;
    margin-right: 10px;
    padding: 0.5rem 1rem;
    font-size: var(--font-size-m);
    border: 2px solid rgb(240, 225, 249);
    border-radius: var(--border-radius-s);
    outline: none;
  }
  .nextBtn {
    width: 150px;
    margin: 2rem 0rem 1rem;
    padding: 1rem 2rem;
    background-color: rgb(240, 225, 249);
    &:hover {
      font-weight: 500;
      background-color: rgb(230, 200, 247);
    }
  }
  .nextBtnActive {
    font-weight: 500;
    background-color: rgb(230, 200, 247);
  }
}

/* 데스크탑 화면 스타일 */
@media (min-width: 1024px) {
  .main {
    width: 70%;
    margin: auto;
    padding: 1rem;
  }
  .quizInfo {
    margin: 1rem 0rem;
    padding: 0rem 2rem;
  }
}
