.main {
  background-color: #fff;
  position: relative;
  z-index: 3;
  section {
    padding: 0.5rem;
  }
}

.jobSearchSection {
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 3;
}

.searchbox {
  padding: 0.5rem;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  .searchIp {
    position: relative;
    width: 100%;
  }
  .searchingBtn {
    flex-basis: 3rem;
    padding: 0.5rem 0;
  }
  span {
    position: absolute;
    top: 0.4rem;
    left: 1rem;
    font-weight: bolder;
    color: rgb(157, 157, 254);
    font-size: 1rem;
  }
  .searchClose {
    left: auto; //위에서 left 준 것 풀기
    right: 1rem;
    font-weight: 500;
    color: rgba(128, 128, 128, 0.398);
    cursor: pointer;
    &:hover {
      color: rgba(128, 128, 128, 0.839);
      font-weight: bolder;
    }
  }
  input {
    width: 100%;
    padding: 0.5rem 2rem;
    border: 1.5px solid rgb(222, 193, 255);
    border-radius: var(--border-radius-l);
    &:focus {
      outline: 1px solid rgb(222, 193, 255);
    }
  }
  ul {
    background-color: #fff;
    position: absolute;
    border-radius: var(--border-radius-l);
    width: calc(100% - 1.3rem);
    height: 20rem;
    overflow: auto;
    top: 50px;
    left: 10px;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 5px rgba(216, 216, 216, 0.898);
    z-index: 2;
  }
  .none {
    display: none;
  }
  li {
    margin: 5px auto;
    border-radius: var(--border-radius-s);
    padding: 0 0.5rem;
    background-color: rgba(243, 233, 251, 0.56);
  }
  li:hover {
    background-color: rgba(231, 202, 255, 0.56);
    cursor: pointer;
  }
  .none {
    display: none;
  }
  p {
    color: rgb(102, 102, 102);
  }
  p:first-child {
    color: rgb(46, 46, 46);
    font-weight: 700;
  }
}

//채용정보리스트
//채용정보사이트
.jobListSection,
.jobOpeningWebSite {
  ul {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: flex-start;
    // gap: 10px;
  }
  .imgBox {
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius-s);
  }
  li {
    position: relative;
    max-width: calc(50% - 10px); // gap만큼 뺌 / gap말고 margin으로 변경
    margin: 5px;
    flex: 1 1 40%;
    padding: 0.5rem 0rem 2.5rem;
    box-shadow: 0 0 5px rgba(216, 216, 216, 0.898);
    border-radius: var(--border-radius-m);
    text-align: left;
    cursor: pointer;
    img {
      width: 100%;
      height: 100px;
      object-fit: cover;
      overflow: clip;
      transition: all 0.3s;
      border-radius: var(--border-radius-s);
      z-index: 1;
    }
    &:hover img {
      transform: scale(1.2);
    }
    h2,
    p {
      padding: 0.5rem 0.5rem 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h2 {
      font-size: var(--font-size-m);
    }
    span {
      position: absolute;
      left: 0.5rem;
      bottom: 0.5rem;
      padding: 0.2rem;
      font-size: var(--font-size-s);
      border-radius: var(--border-radius-m);
      background-color: rgb(245, 245, 245);
    }
  }
  .siteList {
    padding: 0.5rem;
    p {
      text-align: center;
    }
  }
}

.jobOpeningLogo {
  position: relative;
  margin-top: 10px;
  display: flex;
  overflow: hidden;
  .logoContainer1,
  .logoContainer2,
  .logoContainer3 {
    display: flex;
    // background-color: rgb(44, 34, 74);
    animation: scrollAnimation 8s linear infinite;
  }
  .imgBox {
    width: 100px;
    height: 50px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(188, 167, 250);
    border-radius: var(--border-radius-l);
    padding: 10px;
    img {
      width: 80px;
      height: 50px;
      border-radius: var(--border-radius-m);
      object-fit: contain;
    }
  }
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* 태블릿 화면 스타일 */
@media (min-width: 768px) {
  .main {
    margin: 7rem auto;
  }

  .searchbox {
    max-width: 40rem;
    margin: auto;
  }

  .jobOpeningLogo {
    position: fixed;
    top: 0rem;
    // margin: 10px;
    display: flex;
    // overflow: hidden;
    z-index: 0;
    .imgBox {
      width: 150px;
      height: 100px;
      margin-left: 10px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

/* 데스크탑 화면 스타일 */
@media (min-width: 1024px) {
  .main {
    margin: 10rem auto;
  }
  .jobOpeningLogo {
    position: fixed;
    top: 8rem;
    margin: 0px;
    display: flex;
    // overflow: hidden;
    z-index: 0;
    .imgBox {
      width: 150px;
      height: 100px;
      margin-left: 10px;
    }
  }

  .searchbox {
    max-width: 80%;
  }

  .jobListSection {
    li {
      max-width: calc(25% - 10px);
      flex: 1 1 20%;
      h2 {
        font-size: var(--font-size-l);
      }
    }
  }
}
